<?xml version="1.0"?>
<configuration>
  <configSections>

  </configSections>

  <connectionStrings>

    <add name="BaseIUS" connectionString="Data Source=CTmxctdb1.scjn.pjf.gob.mx9BD3;Initial Catalog=IUS_Mantesis;User Id=4cc3s01nf0;Password=Pr0gr4m4d0r3s" providerName="System.Data.SqlClient"/>
    <add name="IUSProduccion" connectionString="Data Source=mxctdb1.scjn.pjf.gob.mx;Initial Catalog=IUS_PRODUCCION;User Id=4cc3s01nf0;Password=Pr0gr4m4d0r3s" providerName="System.Data.SqlClient"/>
    <add name="BaseBitacora" connectionString="Data Source=CT9BD2;Initial Catalog=mBitacora;User Id=MantesisUsr;Password=usrmantesiscoord" providerName="System.Data.SqlClient"/>
    <add name="MantesisSql" connectionString="Data Source=CT9BD2;Initial Catalog=Mantesis;User Id=4cc3s01nf0;Password=Pr0gr4m4d0r3s" providerName="System.Data.SqlClient"/>
    <!--<add name="CT" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Base\CT.accdb;Persist Security Info=False;"/>-->
    <!--<add name="Directorio" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Base\Dir_Org.mdb;Persist Security Info=False;"/>-->
    <add name="CT" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\ctpdc-26537-mrl\Users\mrodriguez\Desktop\Contradiccion de Tesis\CT.accdb;Persist Security Info=False;"/>
    <add name="Directorio" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\ctpdc-26537-mrl\Users\mrodriguez\Desktop\Contradiccion de Tesis\Dir_Org.mdb;Persist Security Info=False;"/>
  </connectionStrings>
  <appSettings>
    <add key="RutaEjecutables" value="\\ct9iis2\Mant.BD\wpf\"/>
    <!--<add key="RutaAdministrador" value="C:\Users\lavega\Documents\Visual Studio 2010\Projects\MantesisAdmin\MantesisAdmin\bin\Debug\"/>-->
    <add key="RutaBasesAccess" value="\\ct9iis2\Mant.BD\"/>
    <!--<add key="RutaBasesAccess" value="C:\Respaldo\"/>-->
    <add key="UrlLigas" value="http://ct9bd3/IUSLeyes/UnaTesisLnkTmp.asp?nIus="/>
    <add key="PermisosInformeSalas" value="17,19,37,80,81,170"/>
  
  
    <add key="RutaTxtErrorFile" value="C:\MensajesErrorSCJN\MensajesErrorContradiccion.txt"/>
    <add key="ErrorPath" value="C:\MensajesErrorSCJN"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
